@font-face {
  font-family: MamaLove;
  src: url("./font/MamaLove.ttf");
}

@font-face {
  font-family: AnuDaw;
  src: url("./font/AnuDaw.ttf");
}

@font-face {
  font-family: "MURATA 2017";
  src: url("./font/MURATA2017.ttf");
}
